# Example

Below I give a simple example to get you started with Pandas.

In [1]:
# import convention for pandas
import pandas as pd

# read in your data
df = pd.read_csv('/../../wifi-prepped-data.csv')

# execute the cell you're in by pressing Shift + Enter

In [2]:
# show first 5 rows of the DataFrame
df.head()

,sourceMac,typeNr,subTypeNr,seqNr,retryFlag,measurementTimestamp,droneId,signal
0,3c560f25491f3902870e392f58973155c284fa24a736ef...,0,4,12,0,1423136407778,Oscar,-57
1,3c560f25491f3902870e392f58973155c284fa24a736ef...,0,4,12,0,1423136407779,Hotel,-68
2,3c560f25491f3902870e392f58973155c284fa24a736ef...,0,4,12,0,1423136407784,Papa,-60
3,3c560f25491f3902870e392f58973155c284fa24a736ef...,0,4,268,0,1423136407788,Oscar,-59
4,3c560f25491f3902870e392f58973155c284fa24a736ef...,0,4,12,0,1423136407788,November,-68

In [3]:
# a very useful pandas facility, to group a DataFrame using one (or more) index values as keys
groups = df.groupby(by=['droneId'])

# the 'groups' variable is just another object
# it produces a sequence of group names together with a chunk of data (the group) 
# we can iterate over it, and do something with it

for keys, group in groups:
    # print the group name, and the length of the group
    print(keys, len(group))

Alpha 48
Hotel 43
India 26
Kilo 18
Lima 22
Mike 16
November 62
Oscar 23
Papa 13
Quebec 16
Romeo 24